@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    @apply text-textPrimary;
}

button {
    @apply cursor-pointer;
}

/* Put your custom CSS selectors here */
.hourly-forecast-display::-webkit-scrollbar {
    display: none !important; /* Safari and Chrome */
}

.hourly-forecast-display {
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
}
